.todos-head{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;

}

.todos{
    padding: 20px 20vw;
    /* border: 1px solid salmon;
    border-radius: 60px; */
   
}

#space{
    margin: 10px 20px;
}

.bigb{
    margin: 20px;
    padding: 20px;
    border: 1px solid salmon;
    width: 60vw;
    border-radius: 20px;


}

.width-c{
    width: 40vw;
}